<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

</head>

<body>
    <h1>Welcome to REACH_ME</h1>

    <% if(locals.user) {%>
        <form action="/post/create" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Text Here...." required></textarea>
            <button type="submit">POST</button>
        </form>
        <%}%>

            <div>
                <ul>

                    <%for (post of post_list) {%>
                        <li>
                            <p>
                                <%=post.content%>
                            </p>
                            <p>Created By:
                                <%=post.user.name%>
                            </p>

                            <% if(locals.user && locals.user.id==post.user.id){%>
                                <a href="/post/delete/<%=post.id%>">
                                    <button>Delete</button>
                                </a>
                                <%}%>

                        </li>

                        <div>

                            <form action="/comment/create" method="POST">
                                <input type="text" name="comment_content" required>
                                <input type="hidden" name="comment_postId" value="<%=post.id%>">
                                <input type="submit" value="Comment">
                            </form>
                        </div>
                        <ul>
                            <%for(comment of post.comment) {%>
                                <li>
                                    <p>
                                        <%=comment.content%>
                                    </p>
                                    <p>
                                        <%=comment.user.name%>
                                    </p>
                                    <% if(locals.user && locals.user.id==comment.user.id){%>
                                        <a href="/comment/delete/<%=comment.id%>">
                                            <button>Delete</button>
                                        </a>
                                        <%}%>
                                </li>

                                <%}%>
                        </ul>

                        <%}%>

                </ul>
            </div>
            <div>
                <h1>Friends</h1>
                <ul>
                    <% for(friend of all_friends){%>
                        <li>
                            <a href="/user/profile/<%=friend.id%>">
                                <%=friend.name%>
                            </a>
                        </li>

                        <%}%>
                </ul>
            </div>

            <script>

                        <%if (locals.success && locals.success.length > 0) {%>
                    new Noty({
                        theme: "relax",
                        text: "<%=success%>",
                        layout: "topRight",
                        timeout: 1500,
                        type: "success"
                    }).show();
                        <%}%>
            </script>
</body>

</html>