<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <h1>Welcome <%=friend.name%>
    </h1>
    <%if(friend.avatar){%>
        <img src="<%=friend.avatar%>" alt="<%=friend.name%>" width="150">
        <%}%>
            <%if(!friend.avatar){%>
                <img src="/images/download.jpg" alt="<%=friend.name%>" width="150">
                <%}%>
                    <%if(locals.user && locals.user.id==friend.id){%>
                        <a href="/user/signout">
                            <button>SignOut</button>
                        </a>
                        <form action="/user/update/<%=friend.id%>" method="POST" enctype="multipart/form-data">
                            <input type="text" name="name" value="<%=friend.name%>">
                            <input type="text" name="email" value="<%=friend.email%>">
                            <input type="file" name="avatar">
                            <input type="submit" value="Update">
                        </form>
                        <%}%>
</body>

</html>